.shows {
    text-align: center;
}

.show-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
}

.show-date {
    font-weight: bold;
    color: #8fc0a9;
}

.show-column {
    display: inline;
    text-align: left;
}

.show-column p {
    margin: 0;
    padding: 0;
}

.show-column button {
    display: block;
    border: none;
    background-color: #8fc0a9;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width: 70px;
    margin-bottom: 10px;
    padding: 8px;
}

.past-shows-button {
    color: #8fc0a9;
    background-color: #fff;
    font-weight: bold;
    padding: 8px;
    border: 1px solid #8fc0a9;
}